body{
    font-family: Arial, sans-serif;
}

.card{
    border-radius:15px;
    transition:0.3s;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card:hover{
    transform:translateY(-5px);
}

.card-even{
    background:#f8f9fa;
}

.card-odd{
    background:#e9f7ff;
}

.details{
    display:none;
    margin-top:15px;
    border-top:1px solid #ddd;
    padding-top:10px;
}

.badge-cgpa-high{
    background:green;
}

.badge-cgpa-low{
    background:red;
}

.btn-details{
    margin-top:10px;
}
